aside {
  width: 350px;
  transform: translateX(-110%);
  border-radius: 12px;
}

aside ul {
  padding-left: 70px;
}

aside li {
  opacity: 0;
  margin: 50px 0;
  font-size: 1.2em;
  font-weight: bold;
  list-style-type: square;
}

aside .copy {
  opacity: 0;
  font-size: 0.7em;
  transform: translateX(-100px);
  padding-left: 70px;
}