aside {
  width: 100%;
  transform: translateY(-110%);
}

aside ul {
  padding-left: 0;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

aside li {
  opacity: 0;
  font-size: 2em;
  text-transform: uppercase;
  list-style-type: none;
}

aside .copy {
  opacity: 0;
  font-size: 0.8em;
  text-align: center;
  transform: translateY(200px);
}